@import '../project-commons.scss';

.landing-hero {
    display: grid;
    @extend .general-paddings;
    grid-template-columns: 1fr;
    gap: 32px;
    margin: 64px auto;
    @include _breakpoint_md {
        grid-template-columns: 1fr 48%;
        gap: 16px;
    }
    @include _breakpoint_xl {
        max-width: 80%;
        margin: 120px auto;
        grid-template-columns: 1fr 690px;
        gap: 32px;
    }
    &__content {
        color: $text-grey;
        font-weight: 500;
    }
    &__text {
        @extend .general-bottom-margin;
        font-size: 16px;
        @include _breakpoint_md {
            font-size: 14px;
        }
        @include _breakpoint_xl {
            font-size: 18px;
        }
    }
    &__cta {
        @extend .margin-center;
        @include _breakpoint_md {
            margin: 0;
        }
    }
    &__gamecard {
        display: grid;
        grid-template-areas: 'card-content card-content';
        grid-template-columns: 1fr;
        border-radius: 16px;

        &__title {
            margin-bottom: 12px;
            font-size: 18px;
            font-weight: 600;
            color: $text-gold;
            opacity: 0.65;
            text-align: right;
            border-bottom: 1px solid;
            @include _breakpoint_md {
                font-size: 24px;
            }
        }

        &-content {
            transform: translateY(40px);
            grid-area: card-content;
            z-index: 2;
            align-self: flex-end;
            background: linear-gradient(180deg, rgba(33, 32, 32, 0.85) 0%, rgba(31, 29, 29, 0.1) 100%);
            box-shadow: inset 34px 31px 127px 14px rgba(0, 0, 0, 0.75);
            color: $text-gold;
            padding: 16px;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            opacity: 0;
            animation-name: slideUp;
            animation-duration: 0.8s;
            animation-timing-function: linear;
            animation-delay: 2.4s;
            animation-fill-mode: forwards;
            .game-additional-info {
                display: flex;
                justify-content: flex-end;
                gap: 8px;
                .game-property {
                    border-right: 1px solid;
                    padding-right: 8px;
                    &:last-child {
                        padding-right: 0;
                        border-right: 0;
                    }
                }
            }
        }
        &__description {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: none;
            margin-left: auto;
            @include _breakpoint_md {
                max-width: 80%;
                display: block;
            }
        }
    }
    &__image {
        width: 100%;
        border-radius: 16px;
        filter: grayscale(80%);
        animation-duration: 6s;
        //transition: all 2s;
        animation-name: fadeIn;
        animation-fill-mode: forwards;
        animation-delay: 1.2s;
        animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
        //filter: drop-shadow(16px 16px 56px #f2890f);
        //box-shadow: 6px 16px 56px #f2890f;
        opacity: 0;
        grid-area: card-content;
        z-index: 1;
    }
}

